* {
    font-family: cursive, sans-serif;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-marquee {
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 400px;
    background-color: rgba(255, 0, 0, 0.75);
    overflow: hidden;
    border-radius: 1.5rem;
}

.inner-rect {
    opacity: 0;
    position: absolute;
    top: -30px;
    width: 50px;
    height: 170px;
    transform: rotate(30deg);
    background-color: #ffffff;
    filter: blur(12px);
}

.bg-marquee:hover > .inner-rect {
    animation: move 1.1s ease-out;
}

.bg-marquee:hover {
    cursor: pointer;
}

@keyframes move {
    from {
        opacity: .8;
        transform: translateX(-200%) rotate(30deg);
    }
    50% {
        opacity: .6;
    }
    70% {
        opacity: .4;
    }
    to {
        opacity: 0;
        transform: translateX(750%) rotate(30deg);
    }
}

@media only screen and (max-width: 450px) {
    .bg-marquee {
        width: 100vw;
    }
}